.footer {
    background-color: #2d2eba;
    display: absolute;
    bottom: 0px;
    color:#fff;
    width: 100%;
    position: relative;
}

.img {
    width: 300px;
    height: 200px;
}

.imgIcon {
    width: 50px;
    height: 50px;
}

.footerIcon {
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.navFooter {
    display: flex;
}
.navFooter p {
    padding-left: 40px;
    font-family: 'Rubik Mono One', sans-serif;
}

.navIcon img {
   padding-left: 50px;
}   
